<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.tolichwer.gdziejestczoper">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-feature android:name="android.hardware.location.gps" />


    <application
        android:name="pl.tolichwer.gdziejestczoper.App"
        android:allowBackup="false"
        android:icon="@mipmap/czoper"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/czoper_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name="pl.tolichwer.gdziejestczoper.services.GeoJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name="pl.tolichwer.gdziejestczoper.services.GeocodeAddressIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name="pl.tolichwer.gdziejestczoper.services.LogJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="pl.tolichwer.gdziejestczoper.services.AlarmReceiver"
            android:directBootAware="true" />

        <activity
            android:name="pl.tolichwer.gdziejestczoper.ui.mainView.NavigationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="pl.tolichwer.gdziejestczoper.ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>